{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Нейрон для классификации дня недели
<form action="/p_lab4" method="POST">
    <p><input type="text" class="form_text" name="list1"> Температура</p>
    <p><input name="list2" class="form_text" type="text"> Наличие солнца</p>
    <p><input name="list3" class="form_text" type="text"> Ветренность(м/с)</p>
    <input type="submit" class="form_btn" value="Узнать что за день">
    <h1>{{class_model}}</h1>
    </p>
</form>

{% endblock %}